<component name="libraryTable">
  <library name="mybatis">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/log4j-1.2.17.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/mybatis-3.5.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/mysql-connector-java-5.1.37-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/ehcache-core-2.6.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/mybatis-ehcache-1.0.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/mybatis-generator-core-1.4.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/ojdbc6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/slf4j-api-1.6.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/slf4j-log4j12-1.6.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jsqlparser-4.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/pagehelper-5.3.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>